* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  width: 100%;
  background-color: black;
  text-align: center; }

a {
  text-decoration: none;
  color: red; }
  a:hover {
    color: gold; }

.bg-video {
  width: auto;
  height: auto;
  object-fit: cover;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1; }

nav {
  padding: 20px; }
  nav ul {
    list-style: none;
    background-color: #2e2c2c;
    height: 30px;
    display: flex;
    justify-content: center; }

ul ul {
  position: absolute;
  display: none;
  padding: 1rem; }

.footer {
  margin-top: 30px;
  height: 50px;
  background-color: #2e2c2c;
  text-align: center; }

.bi {
  color: red; }
  .bi:hover {
    color: gold; }

.galeria {
  margin-top: 2rem;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .galeria img {
    width: 400px;
    height: 300px;
    opacity: .5;
    border: .5rem silver; }
    .galeria img:hover {
      opacity: 1;
      border: double 1rem gold; }

.form {
  background: linear-gradient(black, black, red, black);
  color: #f6c709;
  border: white solid 1px;
  width: 50%; }
  .form .complete {
    background-color: black;
    border: gold solid 1px;
    color: #f6c709;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px; }

.card {
  width: 18rem; }

.card-text {
  color: #f6c709; }

.card-title {
  color: #f6c709; }

.bg-card {
  background: linear-gradient(black, black, red, black);
  border: white solid 1px; }

.btn {
  color: black;
  background-color: gold; }
  .btn:hover {
    transform: scale(1.1, 1.3);
    color: goldenrod; }

.animate__shakeY {
  --animate-duration: 2s; }

h1 {
  font-size: 30px;
  font-weight: bold;
  font-family: serif;
  color: #f6c709;
  text-align: center;
  transition: all 2s; }
  h1:hover {
    color: #ff1500;
    transform: scale(1.1, 1.2); }

h2 {
  text-align: center;
  font-family: serif;
  color: #f6c709;
  font-size: 25px;
  font-weight: bold; }
  h2:hover {
    color: #ff1500;
    transform: scale(1.1, 1.2); }

h3 {
  font-size: 20px;
  font-family: serif; }

h4, p {
  font-size: 15px;
  text-align: center;
  color: #f6c709;
  font-family: serif; }

body {
  background: black;
  text-align: center; }

.discografia {
  background: linear-gradient(black, black, red, silver, black); }

.btn-primary {
  background-color: gold;
  color: black; }
  .btn-primary:hover {
    background-color: black; }
