
.form {
    background: linear-gradient(black, black, red, black);
    color: $fontcolor;
    border: white solid 1px;
    width:75%;
    margin-left: 25%;
    margin-right: 25%;
  .complete{
  
    @extend body;
    border:gold solid 1px;
    color: $fontcolor;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
  }
}
 
  
  .card{
    margin-top: 2rem;
    width: 20rem;
  }
  .card-text{
    color:$fontcolor;
  }
  .card-title{
    color:$fontcolor;
  }
  .bg-card {
    background: linear-gradient(black, black, red, black);
    border: white solid 1px; }
  
  
  .btn{
    color: black;
    background-color: gold;
    &:hover{
    transform: scale(1.1,1.3);
    color: goldenrod;}
  }
  .animate__shakeY {
    --animate-duration: 2s;
  }
  