.galeria {

    @extend .galeria;
    margin-top: 2rem ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 

  
img {
    width: 650px;
    height: 500px;
    opacity: .5;
    border: .5rem silver;
  
    &:hover {
    opacity: 1;
    border: double 1rem gold;
    
    
    
}
}

}
