header {
    width: 100%;
    background-color: black;
    text-align: center; }

    a{text-decoration: none;
      color: red;
       &:hover{
          color: gold;}
    
    }

    .bg-video{
        width:auto;
        height:auto;
        object-fit: cover;
        position: relative;
        left: 0;
        right: 0;
        top: 0;
        bottom:0;
        z-index: -1;
        
      } 



    nav {
        padding: 20px; 
      
      ul {
        list-style: none;
        background-color: #2e2c2c;
        height: 30px;
        display: flex;
        justify-content: center;
         }

      }

      
      ul ul{
        position: absolute;
        display: none;  
        padding: 1rem; 

      }
      
  
  
    