header {
    width: 100%;
    background-color: black;
    text-align: center;
   }  

    a{text-decoration: none;
      color: white;
       &:hover{
          color:blue;}

    
    }
  

    .bg-video{
        width:100vw;
        height:100vh;
        position: fixed;
     
        left:0;
        right: 0;
        top: 5rem;
        bottom:0;
        z-index: -1;
        
      } 
      


    nav {
        padding: 20px; 
      
      ul {
        list-style: none;
        background-color: #2e2c2c;
        height: 30px;
        display: flex;
        justify-content: center;
         }

      }

      
      ul ul{
        position: absolute;
        display: none;  
        padding: 1rem; 

      }
      
      
     
        
      .info{

      height:100vh ;
      width:100vw ;
    

      
      }

      .gira{
        display:block;
        flex-direction: row;
        margin-top: 15%;
        margin-left: 25%;
        margin-right: 25% ;
        margin-bottom: 15%;
        width:50%;
        height: 50vh;
        object-fit: cover;
        animation-duration: 10s;
        animation-delay: .5s;
        animation-name:info;
        animation-iteration-count: infinite;
        
        .btn{
          background-color:transparent;
          text-decoration: none;
          h5{
            color:white;

          }


        }
      }

      
        @keyframes info{

          0%{
            opacity: 0;
            font-size: 20px;
            transform:scale(1.1,1.5);
           
          }
          50%{
            opacity:1;
            font-size: 30px;
            transform:scale(1.1,1.9);
          }
          100%{
            opacity: 0;
            font-size: 20px;
            transform:scale(1.1,1.5);
           
          }
        }
        .fechas{
          margin-top: 50px;
          margin-left: 25%;
          margin-right: 25%;
        }

       
             
      
      
        
       
      
     
        
      
      
     
      
      
  
  
    