@media only screen and (max-width: 576px) {
  
    .galeria img {
      border:none;
      width: 576px;
      height: 576px; 
    }
    .galeria img:hover{
      border: none;
    }
  
  }
  
  @media only screen and(max-width:576px){


    .carousel{
      margin: 0;
      margin-left:0 ;
      
      .d-block{
        width:100%;
        height: 100vw;
        
      }
    }
    
   
    .form {
      background: linear-gradient(black, black, red, black);
      border:black solid 1px;
      width: 90%; 
    }
    .card {
      width: 90%;
      margin: 1rem;
      border: black;

    }
  
    .footer{
      width: 100%;
    }
   
    .gira{
      margin-left:10%;
      margin-right:10%;
      width:80%; 
      height:10vh;
      margin-top:20% ;

    }
    .bg-video{
      background-color: black;
     

    }

    .fechas{

      margin-top: 250px;
    }
    @keyframes info{

      0%{
        opacity: 0;
        font-size: 20px;
        transform:scale(1.1,1.2);
       
      }
      50%{
        opacity:1;
        font-size: 30px;
        transform:scale(1.1,1.1);
      }
      100%{
        opacity: 0;
        font-size: 20px;
        transform:scale(1.1,1.2);
       
      }
    }

    .cards{
    width: 500px;
    margin: 1.5rem;
    padding: 1rem;
    justify-content: center;



    }



    
  
    }
 
      
    
 
  