@media only screen and (max-width: 576px) {
  
    .galeria img {
      border:none;
      width: 576px;
      height: 576px; 
    }
    .galeria img:hover{
      border: none;
    }
  
  }
  
  @media only screen and(max-width:576px){
  
    .form {
      background: linear-gradient(black, black, red, black);
      border: white solid 1px;
      width: 90%; 
    }
    .card {
      width: 90%;
      margin: 1rem;
    }
  
    .footer{
      width: 100%;
    }
   
    .gira{
      margin-left:0;
      object-fit: cover;
      width:100%; 
      height:50vh;
    }
    .bg-video{
      
      object-fit: cover;
    }
  
    }
 
      
    
 
  